<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luboganev.testground">

    <application
        android:name=".BlogPostsApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demos.headlessFragment.HeadlessFragmentDemoActivity"
            android:label="@string/title_activity_headlessfragment" >
        </activity>
        <activity
            android:name=".demos.localBroadcast.LocalBroadcastDemoActivity"
            android:label="@string/title_activity_localbroadcast" >
        </activity>
        <activity
            android:name=".demos.intentBuilder.IntentBuilderDemoActivity"
            android:label="@string/title_activity_intentbuilder" >
        </activity>
        <activity
            android:name=".demos.imageScale.ImageScaleDemoActivity"
            android:label="@string/title_activity_image_scale_demo"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".demos.touchDown.TouchDownDemoActivity"
            android:label="@string/title_activity_touchdown_demo" >
        </activity>
        <activity android:name=".demos.pendingAlarms.PendingAlarmsDemoActivity"
            android:label="@string/title_activity_pendingalarms_demo">
        </activity>
        <receiver
            android:name=".demos.pendingAlarms.PendingAlarmsDemoActivity$MessageBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="${applicationId}.DISPLAY_MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
