<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luboganev.testground">

    <application
        android:name=".BlogPostsApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HeadlessFragmentDemoActivity"
            android:label="@string/title_activity_headlessfragment" >
        </activity>
        <activity
            android:name=".activities.LocalBroadcastDemoActivity"
            android:label="@string/title_activity_localbroadcast" >
        </activity>
        <activity
            android:name=".activities.IntentBuilderDemoActivity"
            android:label="@string/title_activity_intentbuilder" >
        </activity>
        <activity
            android:name=".activities.ImageScaleDemoActivity"
            android:label="@string/title_activity_image_scale_demo"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.blogpostsplayground.app.MainActivity" />
        </activity>
    </application>

</manifest>
